<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toplantı Güncelleme Formu</title>
  <link rel="stylesheet" type="text/css" href="static\styles.css">
</head>
<body>
  <div class="update-form-container">
    <h1>Toplantı Güncelleme Formu</h1>
    <form id="updateMeetingForm">
          <input type="hidden" id="meetingId" value="{{ meeting.id }}">
          <label for="subject">Konu:</label>
          <input type="text" id="subject" name="subject" value="{{ meeting.subject }}" required><br><br>
          <label for="date">Tarih:</label>
          <input type="date" id="date" name="date" value="{{ meeting.date }}" required><br><br>
          <label for="startTime">Başlangıç Saati:</label>
          <input type="time" id="startTime" name="startTime" value="{{ meeting.startTime }}" required><br><br>
          <label for="endTime">Bitiş Saati:</label>
          <input type="time" id="endTime" name="endTime" value="{{ meeting.endTime }}" required><br><br>
          <label for="participants">Katılımcılar:</label>
          <input type="text" id="participants" name="participants" value="{{ meeting.participants }}" required><br><br>
          <button type="submit">Güncelle</button>
      </form>
  </div>

    <script>
        document.getElementById('updateMeetingForm').addEventListener('submit', function(event) {
          event.preventDefault();
          const formData = new FormData(this);
          const data = {};
          formData.forEach((value, key) => {
            data[key] = value;
          });
          const id = document.getElementById('meetingId').value;
          if(confirm('Toplantıyı güncellemek istediğinizden emin misiniz?'))
          fetch(`/api/meetings/${id}`, {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          .then(response => response.json())
          .then(data => {
            alert('Toplantı başarıyla güncellendi.');
            const meetingsList = document.getElementById('meetingsList')
            const meetingItem = meetingsList.querySelector('[data-meeting-id="${id}"]')
            if (meetingItem) {
              meetingItem.querySelector('[data-field="subject"]').textContent = data.subject;
            }
            const successMessage = document.createElement('div')
            successMessage.textContent = 'Toplantı güncellendi.';
            successMessage.style.color = 'green'
            document.body.appendChild(successMessage);
            setTimeout(() =>(
              successMessage.remove(3000)
            ))
            window.location.href = `/index`;
            console.log(data);
          })
          .catch(error => {
            console.error('Error:', error);
          });
        });
      </script>
</body>
</html>